body {
 background: none;
}
.button {
  text-align: center;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: #333;
  border: 1px solid #999;
  border-radius: 5px;
}
.button:hover {
  background-color: #666;
}
.selected {
  border: 2px solid blue;
}
#displaybar {
  height: 40px;
  background-color: #333;
  border-radius: 5px;
}
#screen {
  height: 30px;
  line-height: 30px;
  background-color: #bbb;
  margin-top: 5px;
  border-radius: 5px;
  padding-right: 10px;
  text-align: right;
}
